/* transition duration */
:root {
  --fade-duration: 1000ms;
  --shadow-fade-duration: 1000ms;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  user-select: none;
  cursor: none;
}

.media-slot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.media-slot.hidden {
  opacity: 0;
  z-index: 2 !important; /* muss größer sein, da es von über den anderen weg faded */

  /* fade */
  transition: opacity var(--fade-duration, 1s) ease-in-out;

  pointer-events: none;
}

.media-slot.visible {
  opacity: 1;
  z-index: 0 !important;

  pointer-events: auto;
}

.media-slot.shadow {
  opacity: 0;
  z-index: 1 !important;

  /* fade */
  transition: opacity var(--shadow-fade-duration, 1s) ease-in-out;

  pointer-events: none;
}

.media-slot.preload {
  opacity: 0;
  z-index: -1 !important;

  pointer-events: none;
}

.media-slot img,
.media-slot video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.no-transition {
  transition: none !important;
}
