/* variables */
:root {
  --color-text: #e3e3e3;
  --color-background: #131314;
  --color-background-contrast: #1e1f20;
  --color-primary: #1976f0;
  --color-secondary: #8f7fff;
  --color-accent: #d01941;

  color-scheme: dark;
}

:root {
  --bg-dark: oklch(0.1 0 299);
  --bg-ldark: oklch(0.13 0 299);
  --bg: oklch(0.15 0 299);
  --bg-light: oklch(0.2 0 299);
  --bg-lighter: oklch(0.25 0 299);
  --text: oklch(0.96 0 299);
  --text-muted: oklch(0.76 0 299);
  --highlight: oklch(0.5 0 299);
  --border: oklch(0.4 0 299);
  --border-muted: oklch(0.3 0 299);
  --primary-light: oklch(0.55 0.1 299);
  --primary: oklch(0.5 0.1 299);
  --secondary: oklch(0.5 0.12382 145.19);

  color-scheme: dark;
}

/* :root {
  --color-text: #e3e3e3;
  --color-background: #23232b;
  --color-background-contrast: #18181a;
  --color-primary: #ffff00;
  --color-secondary: #8f7fff;
  --color-accent: #00c497;

  color-scheme: dark;
} */
