/* variables */
:root {
  --color-text: #e3e3e3;
  --color-background: #131314;
  --color-background-contrast: #1e1f20;
  --color-primary: #1976f0;
  --color-secondary: #8f7fff;
  --color-accent: #d01941;

  color-scheme: dark;
}

/* :root {
  --color-text: #e3e3e3;
  --color-background: #23232b;
  --color-background-contrast: #18181a;
  --color-primary: #ffff00;
  --color-secondary: #8f7fff;
  --color-accent: #00c497;

  color-scheme: dark;
} */